.btn {
    background: transparent;
    border: 2px solid rgba(116, 250, 192, 1);
    padding: 10px;
    border-radius: 10px;
    font-weight: bolder;
    margin-top: 15px;
    cursor: pointer;
    color: rgba(116, 250, 192, 1);
    transition-duration: 0.4s;
}

.btn:hover {
    color: rgba(116, 250, 192, 1);
    background-color: #010b28;
    transform: translateY(-7px);
    transition-duration: 0.4s;
}